*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #134B70;
    
}
body li a {
    text-decoration: none;
    color: cyan;
    
}
body li {
    list-style-type: none;
    display: inline;
    ;
}

